{% load static %}
<nav class="navbar navbar-expand-xl bg-danger navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blood:index' %}"><img src="{% static 'img/blood-donation.png' %}" alt="logo" width="20px" height="20px" class="d-inline-block align-left"> SAVE LIFE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-6 mb-lg-0">
        <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{% url 'blood:index' %}">Home</a></li>
          <li class="nav-item dropdown">
          <a class="nav-link  active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Districts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Trivandrum</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">Calicut</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kollam">Kollam</a></li>
          </ul>
        </li>
          <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#about">About Us</a></li>
<!--          <li class="nav-item">-->
<!--             <a class="nav-link active" aria-current="page" href="#gallery">Gallery</a></li>-->
          <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#blog">Blog</a></li>
          <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#contact">Contact</a></li>
      </ul>
          <ul>
              {% if user.is_authenticated %}
              <li class="d-inline-block align-right" style="color:white;"><i class="fas fa-user"></i> Hello {{user.username}}</li>

              <a class="btn btn-danger text-right" href="{% url 'blood:logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
               {% else %}
              <a class="btn btn-warning" href="{% url 'blood:register' %}"><i class="fas fa-user-plus"></i> Sign Up</a>
              <a class="btn btn-warning" href="{% url 'blood:login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
              {% endif %}
          </ul>
    </div>
  </div>
</nav>